:root {
  --el-color-primary: #1e97f8;

  --theme-aside-width: 200px;
  --theme-header-height: 50px;
  --theme-border-color-light: #ffffff;
  --theme-logo-text-color: #ffffff;

  --theme-menu-text-color: #939fb4;
  --theme-menu-bg-color: #2f4050;
  --theme-menu-border-color: var(--el-color-primary);
  --theme-menu-hover-color: #ffffff;
  --theme-menu-hover-bg-color: #1890ff;

  --theme-header-bg-color: #3c8dbc;
  --theme-header-text-color: #ffffff;
  --theme-header-hover-color: rgba(0, 0, 0, 0.1);

  --theme-main-bg-color: #f0f2f5;
}
